@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-accent-teal: #1abc9c;
  --color-accent-orange: #fd7e14;
  --color-accent-blue: #3498db;
  --color-accent-purple: #9b59b6;
}

@layer base {
  html, body, * {
    font-family: 'Nunito', sans-serif !important;
  }
  
  body {
    background-color: var(--color-primary);
    color: #111111;
    font-weight: 600; /* Bumped up the baseline thickness globally */
    -webkit-font-smoothing: antialiased;
  }
}
